<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baseleus</title>

    <!-- Link Tailwindcss -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='dist/app.css')}}"
    />
  </head>
  <body class="bg-zinc-50 dark:bg-zinc-950 min-h-screen antialiased">
    <main class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 pt-6 border">
      <h1 class="text-2xl text-blue-500">Hello World</h1>
    </main>
    <!-- Flowbite -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
  </body>
</html>
