<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Baseleus</title>

        <!-- Link Tailwindcss -->
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='dist/app.css')}}"
        />
    </head>
    <body>
        <h1 class="text-blue-500">Hello World</h1>

        <!-- Flowbite -->
        <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
    </body>
</html>
