<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Baseleus</title>

        <!-- Link Tailwindcss -->
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='dist/app.css')}}"
        />
    </head>
    <body
        class="bg-zinc-50 text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100 min-h-screen antialiased transition-colors duration-300"
    >
        <main class="max-w-5xl mx-auto px-4 sm:px-6 md:px-8 pt-6">
            {% include '_navigation.html'%}

            <!-- Main Content -->
            {% block content %} {%endblock%}

            <!-- Footer Content -->
        </main>
        <!-- Flowbite -->
        <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
        <!-- Lucide React -->
        <script src="https://unpkg.com/lucide@latest"></script>
        <!-- Javascript External -->
        <script src="{{url_for('static', filename='js/app.js')}}"></script>
    </body>
</html>
