{% extends 'index.html' %}

<!-- Home Content -->
{%block content%}
<section class="w-full py-8">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 md:px-8">
        <p
            class="text-base text-zinc-700 font-medium leading-relaxed tracking-tight"
        >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
            provident excepturi neque magni dignissimos, itaque hic ad
            recusandae ipsa esse, sequi delectus voluptate magnam numquam
            necessitatibus, quod voluptates maiores animi voluptatum tempora
            quibusdam incidunt. Voluptatem eligendi corrupti suscipit dolor
            reprehenderit odio ratione, rem omnis similique? Maxime
            reprehenderit, fugiat dolorem porro ut assumenda corrupti voluptatum
            quae nihil optio, qui in voluptates odio placeat quaerat nesciunt at
            exercitationem. Et, aut. Consequuntur harum voluptas minima ad est
            dolores accusamus nam at, libero rem ipsa consectetur nihil
            praesentium, enim ullam alias debitis nobis! Perferendis fugiat eos
            libero, nam provident quasi beatae soluta quo quae!
        </p>
    </div>
</section>
{%endblock%}
